.section {
  div {
    display: flex;
    justify-content: space-evenly;
  }
  button {
    height: 3em;
    // width: 60%;
    margin-top: 1.5em;
    background-color: white;
    border: 1px solid #2576ce;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: 600;
    color: #2576ce;
    cursor: pointer;
  }
  button:hover {
    background-color: #2576ce;
    color: white;
    transition: 0.3s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}
